{% extends "template.html" %}

{% block content %}
<h2 class="ui header">Add child</h2>
<form class="ui form" method="POST" action="">
    {{ form.csrf_token }}
    <div class="field">
        <div class="six wide field">
            {{ form.childName.label }}
            {{ form.childName }}
        </div>
    </div>            
    <div class="field">
        <div class="six wide field">
            {{ form.date.label }}
            {{ form.date }}
        </div>
    </div>
    <div class="field">
        <div class="ui checkbox">
            {{ form.status }}
            {{ form.status.label }}
        </div>
    </div>
    {{ form.submit(class_="ui button") }}
</form>
{% endblock %}