{% extends "template.html" %}

{% block content %}
<h2 class="ui header">Tabel</h2>
<form class="ui form" method="POST" action="">
    {{ form.csrf_token }}
    <div class="field">
        <div class="four wide field">
            {{ form.date_from.label }}
            {{ form.date_from}}
        </div>
    </div>   

    <div class="field">
        <div class="four wide field">
            {{ form.date_till.label }}
            {{ form.date_till}}
        </div>
    </div>
    {{ form.submit(class_="ui button") }}
</form>

    {% if tabel[1]|length > 0 %}
        <p>{{tabel[1][0][5]}}</p>
    {% else %}
        <p> {{tabel[0]}} </p>
    {% endif %}
    
    <table class = "ui red collapsing table">
        <thead>
            <tr>
               <th>Дата</th>
               <th>Был(или нет)</th>
               <th>Дата цены</th>
               <th>Стоимость за день</th>
            </tr>
        </thead>
        <tbody>
        {% for day in tabel[1] %}
            <tr>
                <td>{{day[0]}}</td>
                <td class="center aligned">{{day[2]}}</td>
                <td>{{day[3]}}</td>
                <td class="center aligned">{{day[4]}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="center aligned">{{tabel[2]}}</th>
            </tr>
        </tfoot>
    </table>


{% endblock %}