{% extends "template.html" %}

{% block content %}
<h2 class="ui header">Tabel</h2>
<form class="ui form" method="POST" action="">
    {{ form.csrf_token }}
    <div class="field">
        <div class="four wide field">
            {{ form.date_from.label }}
            {{ form.date_from}}
        </div>
    </div>   

    <div class="field">
        <div class="four wide field">
            {{ form.date_till.label }}
            {{ form.date_till}}
        </div>
    </div>
    {{ form.submit(class_="ui button") }}
</form>

<ul>
    {% for el in tabel %}
    <li> {{el[0][1]}}</li>
    <table class = "ui green collapsing table">
        <thead>
            <tr>
               <td>Дата</td>
               <td>Был(или нет)</td>
               <td>Дата цены</td>
               <td>Стоимость за день</td>
            </tr>
        </thead>
        <tbody>
        {% for day in el[1] %}
            <tr>
                <td>{{day[0]}}</td>
                <td class="center aligned">{{day[2]}}</td>
                <td>{{day[3]}}</td>
                <td class="center aligned">{{day[4]}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</ul>

{% endblock %}