<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="static/css/semantic/semantic.min.js"></script>

    {% if title %}
    <title>{{title}} - project star</title>
    {% else %}
    <title>project star</title>
    {% endif %}
</head>
<body>
<div class="ui segment">
<div>project star:
    <a href="{{ url_for('index') }}">Home</a>
    {% if session["User"] %}
    | <a href="{{ url_for('logout') }}">Logout</a>
    | <a href="{{ url_for('addch') }}">Add children</a>
    | <a href="{{ url_for('deletech') }}">Delete children</a>
    | <a href="{{ url_for('addday') }}">Add day</a>
    | <a href="{{ url_for('prices') }}">Prices</a>
    {% else %}
    | <a href="{{ url_for('login') }}">Login</a>
    | <a href="{{ url_for('register') }}">Register</a>
    {% endif %}
</div>
</div>
<div class="ui segment">
{% block content %}{% endblock %}
</div>
</body>
</html>